/* [Color codes] */

/* Body */
body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #09090c;
    font-weight: 300;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    color: #181315;
}

h1 {
    font-size: 26px;
    color: #110707;
    line-height: 1.8em;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    line-height: 2.1em;
    color: #d56006;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 500;
}

h4, h5, h6 {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 500;
}

a {
    color: #2a54f5;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:hover, a:focus {
    text-decoration: none;
    color: #2a54f5;
}

p {
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.columns-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blocks {
    box-sizing: border-box;
}

.left-col-block {
    width: 50%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.right-col-block {
    width: 50%;
    position: absolute;
    right: 0;
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.23);
}

@media (max-width: 600px) {
    .left-col-block {
        width: 100%;
        position: relative;
    }

    .right-col-block {
        width: 100%;
        position: relative;
        box-shadow: none;
    }
}

.gray-bg {
    background-color: #f9f9f9;
}

#main-wrapper {
    background: #ffffff;
    overflow: hidden;
}

.section-wrapper {
    padding: 50px;
}

@media (max-width: 480px) {
    .section-wrapper {
        padding: 30px 20px;
    }
}

.section-title {
    margin-bottom: 15px;
}

.section-title h2 {
    margin-bottom: 5px;
    color: #bebece;
}

.header {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
}

.header .profile-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../img/img-profile.jpg);
    background-size: cover;
    background-position: center top;
}

.header .profile-img:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-30deg, rgba(42, 84, 245, 0.5) 0%, rgba(42, 84, 245, 0.5) 40%, transparent 60%, transparent 100%);
}

.header .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}

.header .content h1 {
    font-size: 36px;
    color: #ffffff;
    line-height: 1;
    margin: 0;
}

.header .content p {
    font-size: 18px;
    color: #ffffff;
}

.header .btn {
    margin-top: 40px;
}

.header .content .social-icon {
    margin: 0;
    padding: 0;
    display: block;
}

.header .content .social-icon li {
    display: inline-block;
    margin: 0 2px;
}

.header .content .social-icon li a {
    display: block;
    font-size: 12px;
    color: #ffffff;
    width: 34px;
    height: 34px;
    line-height: 33px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, .2);
}

.header .content .social-icon li a:hover {
    border-color: #ffffff;
}

@media (max-width: 600px) {
    .header .profile-img {
        z-index: 1;
    }

    .header .content {
        z-index: 2;
    }
}

.intro {}

.expertise-item {
    margin-bottom: 20px;
}

.expertise-item h3 {
    margin-bottom: 5px;
    font-weight: 700;
}

.progress-item {
    position: relative;
}

.progress-item .progress-title {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
}

.progress-item .progress {
    height: 4px;
    box-shadow: none;
    border-radius: 5px;
}

.progress-item .progress-bar {
    background-color: #f07306;
    box-shadow: none;
    text-align: right;
}

.progress-item .progress-percent {
    font-size: 10px;
    background-color: #313131;
    position: absolute;
    top: 5px;
    padding: 0 8px;
    border-radius: 3px;
}

.progress-item .progress-percent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 6px solid #110707;
    border-right: 8px solid transparent;
}

.portfolio-item {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.portfolio-item .portfolio-thumb img {
    height: auto;
    display: block;
    max-width: 100%;
}

.portfolio-item .portfolio-info {
    position: absolute;
    bottom: 0;
    padding: 30px 15px 5px;
    width: 100%;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.portfolio-item .portfolio-info h3 {
    margin: 0;
    line-height: 1;
    color: #ffffff;
}

.portfolio-item .portfolio-info small {
    color: #ffffff;
}

.portfolio-item:hover .portfolio-info {
    background: -webkit-linear-gradient(top, transparent 0%, rgba(42, 84, 245, 0.5) 100%);
}

.content-item {
    margin-bottom: 40px;
}

.content-item h3 {
    margin: 0 0 10px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.content-item h4 {
    margin: 0;
    line-height: 1;
}

.content-item small {
    color: #e06d0f;
}

.feedback-form {
    margin-top: 50px;
}

.form-control {
    height: 50px;
    padding: 0 20px;
    font-size: 13px;
    line-height: 50px;
    color: #150b0b;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
}

.footer {
    padding: 30px 50px;
}

.footer .copyright-section {
    font-size: 13px;
    color: #090707;
}

.footer .copyright-section .copytext {
    font-weight: 400;
    display: block;
}

@media (max-width: 480px) {
    .footer {
        padding: 10px 20px;
    }
}

#preloader {
    background: #2a54f5;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../img/puff.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

#blog {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
