/* blog_tab.css */

/* Ensure no margin or padding at the top of the blog section */
.tab-pane {
    padding: 0 !important;
    margin: 0 !important;
}

.blog-section-title {
    margin: 0 !important;
    padding: 0 !important;
}

.blog-section-content {
    margin: 0 !important;
    padding: 0 !important;
}

/* Adjust the text alignment and font styles to match the personal achievements section */
.blog-section-title h2 {
    text-align: center;
    color: #63605d;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-section-content ul {
    list-style: none;
    padding: 0;
}

.blog-section-content ul li {
    margin-bottom: 20px;
}

.blog-section-content h3 a {
    color: #FF8040;
    font-weight: bold;
}

.blog-section-content p {
    font-size: 0.2em;
}

/* Styling for h4 elements */
.blog-section-content h4 {
    text-align: left;
    color: #060dd0;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 44.5em;
}

/* Ensure the entire blog section is aligned properly */
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

.col-md-12 {
    padding: 0 !important;
    margin: 0 !important;
}
