<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <link href="favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style_blog.css" rel="stylesheet">
    <link href="css/blog_post.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="content text-center">
                <h1>{{TITLE}}</h1>
                <p class="lead">By Yangming Li</p>
            </div>
        </header>
        
        <div class="article-metadata">
            <!-- ... metadata content ... -->
        </div>
        
        <main>
            <!-- Content goes here -->
        </main>
        
        <footer class="footer text-center">
            <p>&copy; 2024 Yangming Li. All rights reserved.</p>
        </footer>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/blogPanel.js"></script>
</body>
</html> 